<div id="headerContainer">
    <!-- Header content here -->
</div>

<div id="searchBoxdiv">
    <label for="searchBox">Search</label>
    <input id="searchBox" type="text" [(ngModel)]="pattern">
</div>

<div id="newFood">
    <button (click)="enableUserToAddFood()" id="newFoodButton">Add New Food</button>
    <br>
    <div *ngIf="isEditing">
        <div id="nameField">
            <br>
            <label for="newFoodName">Name</label>
            <input id="name" type="text" [(ngModel)]="newFoodName">
            <br> <br>
        </div>
        <div id="caloriesField">
            <label for="newFoodCalories">Calories</label>
            <input id="calories" type="text" [(ngModel)]="newFoodCalories">
            <br> <br>
        </div>
        <div id="imageField">
            <label for="newFoodImage">Image</label>
            <input id="image" type="text" [(ngModel)]="newFoodImage">
            <br> <br>
        </div>
    </div>
</div>

<ul id="food-list">
    <li class="single-food" *ngIf="isEditing">
        <img [src]="newFoodImage">
        <h3 class="food-name">
            {{ newFoodName }}
        </h3>
    </li>

    <li class="single-food" *ngFor="let food of foods | foodSearch:'name':pattern;">
        <img [src]="food.image">
        <h3 class="food-name">
            {{ food.name }}
        </h3>
        <h4>
            Calory -
            <small class="food-calories">{{ food.calories }}</small>
        </h4>
        <input type="text" #quantity value="1">
        <button (click)="addToMyList(food, quantity)" class="addButton">Add</button>
    </li>
</ul>
